body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd1df;
}

.container {
    text-align: center;
    display: inline-flex; /* Changed to inline-flex to limit container width to its content */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align container's items */
}

.buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Adjust the gap between buttons as needed */
}

.valentineGif {
    width: 100px; /* Set a fixed width for all images */
    height: 100px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure the images cover the area without losing aspect ratio */
}

.hidden {
    display: none; /* Hide elements with this class */
}

#imagesContainer {
    display: flex; /* Align images next to each other */
    justify-content: center; /* Center images container */
    /*gap: 10px; /* Space between images */
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Ensure smooth scaling transition for all buttons */
}

#valentineQuestion {
    font-size: 24px;
    margin: 0 0 20px;
}

#valentineImage {
    transition: transform 0.5s ease; /* Adjust time as needed */
}
