body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Initial size for the "Yes" button */
#yesButton {
    transition: transform 0.3s ease;
}

#valentineQuestion {
    font-size: 24px; /* Example size, adjust as needed */
    margin: 0 0 20px; /* Adds space below the text, adjust as needed */
    /* Add any other font styling as desired */
}